---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyseerr
  labels:
    {{- include "jellyfin.labels" (dict "name" "jellyseerr") | nindent 4 }}
  annotations:
    {{- range $key, $val := .Values.global.annotations }}
    {{ $key }}: {{ $val | quote }}
    {{- end }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      {{- include "jellyfin.selectorLabels" (dict "name" "jellyseerr") | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "jellyfin.selectorLabels" (dict "name" "jellyseerr") | nindent 8 }}
      annotations:
        {{- range $key, $val := .Values.global.annotations }}
        {{ $key }}: {{ $val | quote }}
        {{- end }}
    spec:
      containers:
        - name: jellyseerr
          image: {{ .Values.jellyseerr.image }}
          ports:
            - containerPort: {{ .Values.jellyseerr.port }}
              name: http
          env:
            - name: TZ
              value: {{ .Values.timezone }}
          livenessProbe:
            httpGet:
              path: /api/v1/status
              port: http
            initialDelaySeconds: 30
            periodSeconds: 60
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /api/v1/status
              port: http
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
          resources:
            {{- toYaml .Values.jellyseerr.resources | nindent 12 }}
          volumeMounts:
            - name: config
              mountPath: /app/config
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: jellyseerr-config
