{{- if .Values.ingress.enabled }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: jellyfin
  annotations:
    {{- range $key, $val := .Values.ingress.annotations }}
    {{ $key }}: {{ $val | quote }}
    {{- end }}
    {{- include "jellyfin.annotations" . | nindent 4 }}
spec:
  tls:
    - hosts:
        {{- range .Values.ingress.hosts }}
        - {{ .name }}.{{ $.Values.ingress.domain }}
        {{- end }}
  rules:
    {{- range .Values.ingress.hosts }}
    - host: {{ .name }}.{{ $.Values.ingress.domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ .service }}
                port:
                  name: {{ .portName }}
    {{- end }}
{{- end }}
