---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: arr-stack
  namespace: arr-stack
spec:
  interval: 10m
  releaseName: arr-stack
  chart:
    spec:
      chart: ./charts/arr-stack
      sourceRef:
        kind: GitRepository
        name: homelab
        namespace: flux-system
      reconcileStrategy: Revision
  valuesFrom:
    - kind: ConfigMap
      name: arr-stack-values
      valuesKey: values.yaml
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  driftDetection:
    mode: enabled
