---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cnpg-operator
  namespace: cnpg-system
spec:
  interval: 10m
  releaseName: cnpg-operator
  chart:
    spec:
      chart: cloudnative-pg
      version: "0.27.1"
      sourceRef:
        kind: HelmRepository
        name: cnpg
        namespace: flux-system
  valuesFrom:
    - kind: ConfigMap
      name: cnpg-operator-values
      valuesKey: values.yaml
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  driftDetection:
    mode: enabled
