---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: immich-machine-learning
  labels:
    {{- include "immich.labels" (dict "name" "immich-machine-learning") | nindent 4 }}
  annotations:
    {{- range $key, $val := .Values.global.annotations }}
    {{ $key }}: {{ $val | quote }}
    {{- end }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      {{- include "immich.selectorLabels" (dict "name" "immich-machine-learning") | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "immich.selectorLabels" (dict "name" "immich-machine-learning") | nindent 8 }}
      annotations:
        {{- range $key, $val := .Values.global.annotations }}
        {{ $key }}: {{ $val | quote }}
        {{- end }}
    spec:
      containers:
        - name: immich-machine-learning
          image: {{ .Values.machineLearning.image }}
          ports:
            - containerPort: {{ .Values.machineLearning.port }}
              name: http
          envFrom:
            - configMapRef:
                name: immich-config
          env:
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.externalSecret.targetSecretName }}
                  key: DB_PASSWORD
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.externalSecret.targetSecretName }}
                  key: REDIS_PASSWORD
          startupProbe:
            httpGet:
              path: /ping
              port: http
            initialDelaySeconds: 10
            periodSeconds: 5
            failureThreshold: 30
          livenessProbe:
            httpGet:
              path: /ping
              port: http
            periodSeconds: 30
            timeoutSeconds: 10
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /ping
              port: http
            periodSeconds: 10
            timeoutSeconds: 10
          resources:
            {{- toYaml .Values.machineLearning.resources | nindent 12 }}
          volumeMounts:
            - name: ml-cache
              mountPath: /cache
      volumes:
        - name: ml-cache
          persistentVolumeClaim:
            claimName: immich-ml-cache
