---
apiVersion: v1
kind: Service
metadata:
  name: immich-machine-learning
  annotations:
    {{- range $key, $val := .Values.global.annotations }}
    {{ $key }}: {{ $val | quote }}
    {{- end }}
spec:
  ports:
    - port: {{ .Values.machineLearning.port }}
      targetPort: {{ .Values.machineLearning.port }}
      protocol: TCP
      name: http
  selector:
    {{- include "immich.selectorLabels" (dict "name" "immich-machine-learning") | nindent 4 }}
