---
- name: test network config
  command: ifreload -a -s
  register: network_test
  failed_when: network_test.rc != 0
  changed_when: false

- name: apply network config
  command: ifreload -a
  when: network_test is succeeded
  changed_when: false
