---
apiVersion: v1
kind: Service
metadata:
  name: dragonfly
  annotations:
    {{- range $key, $val := .Values.global.annotations }}
    {{ $key }}: {{ $val | quote }}
    {{- end }}
spec:
  ports:
    - port: {{ .Values.dragonfly.port }}
      targetPort: {{ .Values.dragonfly.port }}
      protocol: TCP
      name: redis
  selector:
    {{- include "dragonfly.selectorLabels" . | nindent 4 }}
