---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: seerr-db-credentials
  namespace: jellyfin
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: onepassword
    kind: ClusterSecretStore
  target:
    name: seerr-db-credentials
    creationPolicy: Owner
  data:
    - secretKey: password
      remoteRef:
        key: Seerr Database/password
