---
# Generate missing locales and set system defaults.

- name: Enable en_GB.UTF-8 in locale.gen
  ansible.builtin.lineinfile:
    path: /etc/locale.gen
    regexp: '^#?\s*en_GB.UTF-8'
    line: 'en_GB.UTF-8 UTF-8'
  register: locale_gen_changed

- name: Enable en_US.UTF-8 in locale.gen
  ansible.builtin.lineinfile:
    path: /etc/locale.gen
    regexp: '^#?\s*en_US.UTF-8'
    line: 'en_US.UTF-8 UTF-8'
  register: locale_us_changed

- name: Generate locales
  ansible.builtin.command: locale-gen
  when: locale_gen_changed.changed or locale_us_changed.changed
  changed_when: true

- name: Update system locale configuration
  ansible.builtin.copy:
    dest: /etc/default/locale
    content: |
      LANG=en_US.UTF-8
      LC_ALL=en_US.UTF-8
    mode: '0644'
    owner: root
    group: root
