---
apiVersion: v1
kind: Service
metadata:
  name: navidrome
  annotations:
    {{- range $key, $val := .Values.global.annotations }}
    {{ $key }}: {{ $val | quote }}
    {{- end }}
spec:
  ports:
    - port: {{ .Values.navidrome.port }}
      targetPort: {{ .Values.navidrome.port }}
      protocol: TCP
      name: http
  selector:
    {{- include "navidrome.selectorLabels" . | nindent 4 }}
