---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: dumper-ssh-key
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: onepassword
    kind: ClusterSecretStore
  target:
    name: dumper-ssh-key
    creationPolicy: Owner
  data:
    - secretKey: id_ed25519
      remoteRef:
        key: Dumper SSH Key
        property: private_key
