---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: tailscale-auth
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: onepassword
    kind: ClusterSecretStore
  target:
    name: tailscale-auth
    creationPolicy: Owner
  data:
    - secretKey: TS_AUTHKEY
      remoteRef:
        key: op://Homelab/tailscale-auth-key/credential
