---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: dumper-nfs-dump
spec:
  capacity:
    storage: 1Ti
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  nfs:
    server: 10.10.10.13
    path: /mnt/scratch/dump
  mountOptions:
    - nfsvers=4.2
    - rsize=131072
    - wsize=131072
    - hard
