---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nfs-dump
  annotations:
    argocd.argoproj.io/sync-options: Delete=false
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ""
  resources:
    requests:
      storage: 1Ti
  volumeName: dumper-nfs-dump
