---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nfs-dump
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ""
  resources:
    requests:
      storage: 1Ti
  volumeName: dumper-nfs-dump
