---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Release.Namespace }}
  labels:
    pod-security.kubernetes.io/enforce: privileged
  annotations:
    {{- include "dumper.annotations" . | nindent 4 }}
