web:
  port: 5030
  authentication:
    username: {{ slskd_web_username | default('slskd') }}
    password: {{ slskd_web_password | default('slskd') }}
    api_keys:
      soularr:
        key: {{ slskd_soularr_api_key | default('soularr-api-key-1234567890') }}
        role: readwrite
        cidr: 0.0.0.0/0,::/0

directories:
  downloads: /downloads
  incomplete: /app/incomplete

soulseek:
  username: {{ soulseek_username }}
  password: {{ soulseek_password }}
  listen_port: {{ soulseek_listen_port | default(58485) }}
  description: |
    A slskd user. https://github.com/slskd/slskd

shares:
  directories:
    - /music
  filters:
    - \.ini$
    - Thumbs.db$
    - \.DS_Store$

global:
  upload:
    slots: {{ soulseek_upload_slots | default(10) }}
  download:
    slots: {{ soulseek_download_slots | default(100) }}
