---
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: homelab
  namespace: flux-system
spec:
  interval: 10m
  url: https://github.com/svnlto/homelab
  ref:
    branch: main
  secretRef:
    name: flux-system
