---
global:
  annotations:
    deployed-by: argocd
    cluster: shared

cluster:
  storage:
    size: 10Gi

  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 1000m
      memory: 1Gi
