---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: osxphotos-export
  namespace: osxphotos-export
spec:
  interval: 10m
  releaseName: osxphotos-export
  chart:
    spec:
      chart: ./charts/osxphotos-export
      sourceRef:
        kind: GitRepository
        name: homelab
        namespace: flux-system
      reconcileStrategy: Revision
  valuesFrom:
    - kind: ConfigMap
      name: osxphotos-export-values
      valuesKey: values.yaml
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  driftDetection:
    mode: enabled
