---
- name: Install system packages
  ansible.builtin.apt:
    name:
      - prometheus-node-exporter
      - unattended-upgrades
    state: present
    update_cache: true

- name: Set timezone
  ansible.builtin.file:
    src: "/usr/share/zoneinfo/{{ pihole_timezone }}"
    dest: /etc/localtime
    state: link
    force: true

- name: Write timezone to /etc/timezone
  ansible.builtin.copy:
    content: "{{ pihole_timezone }}\n"
    dest: /etc/timezone
    mode: '0644'

- name: Enable systemd-timesyncd
  ansible.builtin.systemd:
    name: systemd-timesyncd
    enabled: true
    state: started
  when: not packer_build | default(false)

- name: Enable node_exporter
  ansible.builtin.systemd:
    name: prometheus-node-exporter
    enabled: true
    state: started
  when: not packer_build | default(false)

- name: Enable node_exporter (packer build)
  ansible.builtin.file:
    src: /usr/lib/systemd/system/prometheus-node-exporter.service
    dest: /etc/systemd/system/multi-user.target.wants/prometheus-node-exporter.service
    state: link
  when: packer_build | default(false)

- name: Configure journald log limits
  ansible.builtin.lineinfile:
    path: /etc/systemd/journald.conf
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    state: present
  loop:
    - {regexp: '^#?SystemMaxUse=', line: 'SystemMaxUse=500M'}
    - {regexp: '^#?SystemMaxFileSize=', line: 'SystemMaxFileSize=50M'}
  notify: Restart journald

- name: Increase fs.inotify limits for containers
  ansible.posix.sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    state: present
    sysctl_file: /etc/sysctl.d/99-container-limits.conf
    reload: true
  loop:
    - {name: 'fs.inotify.max_user_watches', value: '524288'}
    - {name: 'fs.inotify.max_user_instances', value: '512',}

- name: Enable automatic security updates
  ansible.builtin.copy:
    dest: /etc/apt/apt.conf.d/20auto-upgrades
    content: |
      APT::Periodic::Update-Package-Lists "1";
      APT::Periodic::Unattended-Upgrade "1";
    mode: '0644'

- name: Ensure Docker service is running
  ansible.builtin.systemd:
    name: docker
    state: started
    enabled: true
  when: not packer_build | default(false)

- name: Create dedicated Pi-hole service user
  ansible.builtin.user:
    name: "{{ pihole_user }}"
    system: true
    shell: /bin/false
    home: "{{ pihole_base_dir }}"
    create_home: false
    groups: "{{ pihole_group }}"
    append: true

- name: Create Pi-hole directory structure
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ pihole_user }}"
    group: "{{ pihole_group }}"
    mode: '0755'
  loop:
    - "{{ pihole_base_dir }}"
    - "{{ pihole_config_dir }}"
    - "{{ pihole_dnsmasq_dir }}"

- name: Template Pi-hole docker-compose file
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: "{{ pihole_base_dir }}/docker-compose.yml"
    owner: "{{ pihole_user }}"
    group: "{{ pihole_group }}"
    mode: '0644'
  register: compose_file

- name: Pull Pi-hole Docker image
  community.docker.docker_compose_v2:
    project_src: "{{ pihole_base_dir }}"
    pull: always
    state: present
  when:
    - compose_file.changed
    - not packer_build | default(false)

- name: Deploy Pi-hole stack
  community.docker.docker_compose_v2:
    project_src: "{{ pihole_base_dir }}"
    state: present
  register: deploy_result
  when: not packer_build | default(false)

- name: Create Pi-hole systemd service
  ansible.builtin.template:
    src: pihole.service.j2
    dest: /etc/systemd/system/pihole.service
    mode: '0644'
  register: systemd_service

- name: Reload systemd and enable Pi-hole service
  ansible.builtin.systemd:
    name: pihole
    daemon_reload: true
    enabled: true
  when:
    - systemd_service.changed
    - not packer_build | default(false)

- name: Create systemd target directory
  ansible.builtin.file:
    path: /etc/systemd/system/multi-user.target.wants
    state: directory
    mode: '0755'
  when: packer_build | default(false)

- name: Enable Pi-hole service (packer build)
  ansible.builtin.file:
    src: /etc/systemd/system/pihole.service
    dest: /etc/systemd/system/multi-user.target.wants/pihole.service
    state: link
  when:
    - systemd_service.changed
    - packer_build | default(false)

- name: Template backup script
  ansible.builtin.template:
    src: pihole-backup.sh.j2
    dest: /usr/local/bin/pihole-backup.sh
    mode: '0755'
  when: enable_backups | default(true)

- name: Create backup directory
  ansible.builtin.file:
    path: "{{ backup_location }}"
    state: directory
    mode: '0755'
  when: enable_backups | default(true)

- name: Schedule daily backups
  ansible.builtin.cron:
    name: "Backup Pi-hole configuration"
    minute: "0"
    hour: "2"
    job: "/usr/local/bin/pihole-backup.sh >> /var/log/pihole-backup.log 2>&1"
    user: root
  when: enable_backups | default(true)

- name: Display deployment status
  ansible.builtin.debug:
    msg:
      - "Pi-hole deployed successfully"
      - "Web interface: http://{{ pihole_ipv4_address }}/admin"
      - "DNS server: {{ pihole_ipv4_address }}"
