---
- name: Deploy Arr Stack
  hosts: all
  become: true

  pre_tasks:
    - name: Ensure Docker is running
      ansible.builtin.service:
        name: docker
        state: started
        enabled: true

  roles:
    - arr

  post_tasks:
    - name: Wait for Gluetun VPN to be ready
      ansible.builtin.wait_for:
        port: 8989
        delay: 10
        timeout: 60

    - name: Display service URLs
      ansible.builtin.debug:
        msg:
          - "qBittorrent: http://{{ ansible_host }}:8701"
          - "SABnzbd:    http://{{ ansible_host }}:8080"
          - "Radarr:     http://{{ ansible_host }}:7878"
          - "Sonarr:     http://{{ ansible_host }}:8989"
          - "Lidarr:     http://{{ ansible_host }}:8686"
          - "Bazarr:     http://{{ ansible_host }}:6767"
          - "Prowlarr:   http://{{ ansible_host }}:9696"
          - "Slskd:      http://{{ ansible_host }}:5030"
          - "Jellyfin:   http://{{ ansible_host }}:8096"
          - "Jellyseerr: http://{{ ansible_host }}:5055"
          - "Sonobarr:   http://{{ ansible_host }}:5001"
