---
# Configure TrueNAS SCALE primary storage (din).
# Pools must be created manually via midclt before running this.

- name: Configure TrueNAS SCALE on din (primary)
  hosts: truenas_primary
  become: true

  vars_files:
    - ../vars/datasets.yml
    - ../vars/snapshots.yml
    - ../vars/shares.yml

  environment:
    middleware_method: client

  roles:
    - role: truenas_setup
