---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: {{ .Values.cluster.name }}
  labels:
    {{- include "postgresql.labels" (dict "name" .Values.cluster.name) | nindent 4 }}
  annotations:
    {{- include "postgresql.annotations" . | nindent 4 }}
spec:
  instances: {{ .Values.cluster.instances }}
  imageName: {{ .Values.cluster.imageName }}

  enableSuperuserAccess: true

  storage:
    storageClass: {{ .Values.cluster.storage.storageClass }}
    size: {{ .Values.cluster.storage.size }}

  resources:
    {{- toYaml .Values.cluster.resources | nindent 4 }}

  postgresql:
    parameters:
      {{- range $key, $val := .Values.cluster.postgresql.parameters }}
      {{ $key }}: {{ $val | quote }}
      {{- end }}

  {{- if not .Values.staticVolume.enabled }}
  bootstrap:
    initdb:
      database: {{ .Values.cluster.bootstrap.initdb.database }}
      owner: {{ .Values.cluster.bootstrap.initdb.owner }}
  {{- end }}
