---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
  labels:
    app.kubernetes.io/name: jellyfin
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: jellyfin
  template:
    metadata:
      labels:
        app.kubernetes.io/name: jellyfin
    spec:
      nodeSelector:
        kubernetes.io/hostname: shared-worker2
      containers:
        - name: jellyfin
          image: jellyfin/jellyfin:10.11.4
          securityContext:
            privileged: true
          ports:
            - containerPort: 8096
              name: http
          env:
            - name: TZ
              value: Europe/Berlin
            - name: JELLYFIN_PublishedServerUrl
              value: https://jellyfin.shared.h.svenlito.com
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 30
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          volumeMounts:
            - name: config
              mountPath: /config
            - name: cache
              mountPath: /cache
            - name: media-movies
              mountPath: /data/media/movies
              readOnly: true
            - name: media-tv
              mountPath: /data/media/tv
              readOnly: true
            - name: media-music
              mountPath: /data/media/music
              readOnly: true
            - name: media-books
              mountPath: /data/media/books
              readOnly: true
            - name: dri
              mountPath: /dev/dri
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: jellyfin-config
        - name: cache
          persistentVolumeClaim:
            claimName: jellyfin-cache
        - name: media-movies
          persistentVolumeClaim:
            claimName: nfs-media-movies
        - name: media-tv
          persistentVolumeClaim:
            claimName: nfs-media-tv
        - name: media-music
          persistentVolumeClaim:
            claimName: nfs-media-music
        - name: media-books
          persistentVolumeClaim:
            claimName: nfs-media-books
        - name: dri
          hostPath:
            path: /dev/dri
            type: Directory
