---
apiVersion: v1
kind: Service
metadata:
  name: jellyseerr
spec:
  ports:
    - port: 5055
      targetPort: 5055
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: jellyseerr
