---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: jellyfin-cache
  annotations:
    pv.kubernetes.io/provisioned-by: org.democratic-csi.nfs-fast
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: truenas-nfs-fast
  claimRef:
    namespace: jellyfin
    name: jellyfin-cache
  csi:
    driver: org.democratic-csi.nfs-fast
    volumeHandle: pvc-8350007f-5c2e-433d-8b52-3b322b9b947f
    fsType: nfs
    volumeAttributes:
      server: 10.10.10.13
      share: /mnt/fast/kubernetes/nfs-dynamic/pvc-8350007f-5c2e-433d-8b52-3b322b9b947f
      node_attach_driver: nfs
      provisioner_driver: freenas-nfs
  mountOptions:
    - nfsvers=4
    - nconnect=8
    - hard
    - noatime
    - nodiratime
