---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: jellyfin-config
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  claimRef:
    namespace: jellyfin
    name: jellyfin-config
  nfs:
    server: 10.10.10.13
    path: /mnt/fast/kubernetes/nfs-dynamic/pvc-c980b589-8804-41e5-80df-de9d5e249bf8
