---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nfs-media-books
spec:
  accessModes:
    - ReadOnlyMany
  storageClassName: ""
  resources:
    requests:
      storage: 1Ti
  volumeName: jellyfin-nfs-media-books
