---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyseerr-config
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: ""
  volumeName: jellyseerr-config
  resources:
    requests:
      storage: 2Gi
