---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: openobserve-extras
  namespace: flux-system
spec:
  interval: 10m
  sourceRef:
    kind: GitRepository
    name: homelab
  path: ./kubernetes/apps/openobserve/overlays/shared
  prune: true
  targetNamespace: openobserve
