---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: osxphotos-cache
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  claimRef:
    namespace: osxphotos-export
    name: osxphotos-cache
  nfs:
    server: 10.10.10.13
    path: /mnt/fast/kubernetes/nfs-dynamic/pvc-daf69719-f54e-485b-8141-245718467edf
