---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: osxphotos-cache
  annotations:
    pv.kubernetes.io/provisioned-by: org.democratic-csi.nfs-fast
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: truenas-nfs-fast
  claimRef:
    namespace: osxphotos-export
    name: osxphotos-cache
  csi:
    driver: org.democratic-csi.nfs-fast
    volumeHandle: pvc-daf69719-f54e-485b-8141-245718467edf
    fsType: nfs
    volumeAttributes:
      server: 10.10.10.13
      share: /mnt/fast/kubernetes/nfs-dynamic/pvc-daf69719-f54e-485b-8141-245718467edf
      node_attach_driver: nfs
      provisioner_driver: freenas-nfs
  mountOptions:
    - nfsvers=4
    - nconnect=8
    - hard
    - noatime
    - nodiratime
