---
apiVersion: v1
kind: ConfigMap
metadata:
  name: recyclarr-config
  annotations:
    {{- include "arr-stack.annotations" . | nindent 4 }}
data:
  recyclarr.yml: |
    radarr:
      movies:
        base_url: http://radarr.{{ .Release.Namespace }}.svc:{{ .Values.radarr.port }}
        api_key: !env_var RADARR_API_KEY

        quality_definition:
          type: movie

        quality_profiles:
          - name: HD-1080p
            reset_unmatched_scores:
              enabled: true
            upgrade:
              allowed: true
              until_quality: Bluray-1080p
              until_score: 10000
            min_format_score: 0
            quality_sort: top
            qualities:
              - name: Bluray-1080p
              - name: WEB 1080p
                qualities:
                  - WEBDL-1080p
                  - WEBRip-1080p
              - name: HDTV-1080p

    sonarr:
      tv:
        base_url: http://sonarr.{{ .Release.Namespace }}.svc:{{ .Values.sonarr.port }}
        api_key: !env_var SONARR_API_KEY

        quality_definition:
          type: series

        quality_profiles:
          - name: HD-1080p
            reset_unmatched_scores:
              enabled: true
            upgrade:
              allowed: true
              until_quality: Bluray-1080p
              until_score: 10000
            min_format_score: 0
            quality_sort: top
            qualities:
              - name: Bluray-1080p
              - name: WEB 1080p
                qualities:
                  - WEBDL-1080p
                  - WEBRip-1080p
              - name: HDTV-1080p
