---
dependency:
  name: galaxy
  options:
    requirements-file: ${MOLECULE_PROJECT_DIRECTORY}/requirements.yml

driver:
  name: default
  options:
    managed: false

platforms:
  - name: grogu
    groups:
      - proxmox

provisioner:
  name: ansible
  inventory:
    hosts:
      proxmox:
        hosts:
          grogu:
            ansible_host: 192.168.0.10
            ansible_user: root
            ansible_ssh_common_args: "-o StrictHostKeyChecking=no"
            ansible_python_interpreter: /usr/bin/python3.13
            pci_device_ids: "8086:56a6"
            vfio_blacklist_drivers: [i915, xe]
            intel_arc_pci_addresses: ["0000:05:00.0"]
            intel_arc_vm_ids: [210]
            configure_ixgbe_unsupported_sfp: true
  env:
    ANSIBLE_CONFIG: ${MOLECULE_PROJECT_DIRECTORY}/ansible.cfg
  playbooks:
    converge: converge.yml
    verify: verify.yml

verifier:
  name: ansible
