---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: navidrome-data
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  claimRef:
    namespace: navidrome
    name: navidrome-data
  nfs:
    server: 10.10.10.13
    path: /mnt/fast/kubernetes/nfs-dynamic/pvc-232a4b44-a313-498a-ae61-e27d89a86bf6
