---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: navidrome-data
  annotations:
    pv.kubernetes.io/provisioned-by: org.democratic-csi.nfs-fast
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: truenas-nfs-fast
  claimRef:
    namespace: navidrome
    name: navidrome-data
  csi:
    driver: org.democratic-csi.nfs-fast
    volumeHandle: pvc-232a4b44-a313-498a-ae61-e27d89a86bf6
    fsType: nfs
    volumeAttributes:
      server: 10.10.10.13
      share: /mnt/fast/kubernetes/nfs-dynamic/pvc-232a4b44-a313-498a-ae61-e27d89a86bf6
      node_attach_driver: nfs
      provisioner_driver: freenas-nfs
  mountOptions:
    - nfsvers=4
    - nconnect=8
    - hard
    - noatime
    - nodiratime
