---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nfs-music
  annotations:
    argocd.argoproj.io/sync-options: Delete=false
spec:
  accessModes:
    - ReadOnlyMany
  storageClassName: ""
  resources:
    requests:
      storage: 1Ti
  volumeName: navidrome-nfs-music
