{{ ansible_managed | comment }}
export RESTIC_REPOSITORY="{{ restic_repo }}"
export RESTIC_PASSWORD="{{ restic_password }}"
export B2_ACCOUNT_ID="{{ b2_account_id }}"
export B2_ACCOUNT_KEY="{{ b2_account_key }}"
