---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: dumper
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default

  source:
    repoURL: https://github.com/svnlto/homelab
    targetRevision: HEAD
    path: kubernetes/apps/dumper/overlays/shared

  destination:
    server: https://kubernetes.default.svc
    namespace: dumper

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true

  ignoreDifferences:
    - group: ""
      kind: Secret
      jsonPointers:
        - /data
