---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: jellyfin
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default

  sources:
    - repoURL: https://github.com/svnlto/homelab
      targetRevision: HEAD
      path: charts/jellyfin
      helm:
        releaseName: jellyfin
        valueFiles:
          - $values/kubernetes/apps/jellyfin/overlays/shared/values.yaml
    - repoURL: https://github.com/svnlto/homelab
      targetRevision: HEAD
      ref: values
    - repoURL: https://github.com/svnlto/homelab
      targetRevision: HEAD
      path: kubernetes/apps/jellyfin/overlays/shared
      directory:
        include: "external-secret.yaml"

  destination:
    server: https://kubernetes.default.svc
    namespace: jellyfin

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true

  ignoreDifferences:
    - group: ""
      kind: Secret
      jsonPointers:
        - /data
