---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: bazarr
  labels:
    app.kubernetes.io/name: bazarr
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: bazarr
  template:
    metadata:
      labels:
        app.kubernetes.io/name: bazarr
    spec:
      containers:
        - name: bazarr
          image: lscr.io/linuxserver/bazarr:v1.5.5-ls336
          ports:
            - containerPort: 6767
              name: http
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: Europe/Berlin
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 30
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          volumeMounts:
            - name: config
              mountPath: /config
            - name: media-movies
              mountPath: /data/media/movies
            - name: media-tv
              mountPath: /data/media/tv
            - name: media-music
              mountPath: /data/media/music
            - name: media-books
              mountPath: /data/media/books
            - name: scratch
              mountPath: /data-scratch
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: bazarr-config
        - name: media-movies
          persistentVolumeClaim:
            claimName: nfs-media-movies
        - name: media-tv
          persistentVolumeClaim:
            claimName: nfs-media-tv
        - name: media-music
          persistentVolumeClaim:
            claimName: nfs-media-music
        - name: media-books
          persistentVolumeClaim:
            claimName: nfs-media-books
        - name: scratch
          persistentVolumeClaim:
            claimName: nfs-scratch
