---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: glance
  labels:
    app.kubernetes.io/name: glance
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: glance
  template:
    metadata:
      labels:
        app.kubernetes.io/name: glance
    spec:
      containers:
        - name: glance
          image: glanceapp/glance:v0.8.4
          ports:
            - containerPort: 8080
              name: http
          env:
            - name: TZ
              value: Europe/Berlin
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            periodSeconds: 30
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
          resources:
            requests:
              cpu: 25m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 256Mi
          volumeMounts:
            - name: config
              mountPath: /app/config
            - name: default-config
              mountPath: /app/config/glance.yml
              subPath: glance.yml
              readOnly: true
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: glance-config
        - name: default-config
          configMap:
            name: glance-config-default
