---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: lidarr
  labels:
    app.kubernetes.io/name: lidarr
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: lidarr
  template:
    metadata:
      labels:
        app.kubernetes.io/name: lidarr
    spec:
      containers:
        - name: lidarr
          image: ghcr.io/hotio/lidarr:pr-plugins-3.0.0.4856
          ports:
            - containerPort: 8686
              name: http
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: Europe/Berlin
          livenessProbe:
            httpGet:
              path: /ping
              port: http
            initialDelaySeconds: 30
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /ping
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 1000m
              memory: 1Gi
          volumeMounts:
            - name: config
              mountPath: /config
            - name: media-movies
              mountPath: /data/media/movies
            - name: media-tv
              mountPath: /data/media/tv
            - name: media-music
              mountPath: /data/media/music
            - name: media-books
              mountPath: /data/media/books
            - name: scratch
              mountPath: /data-scratch
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: lidarr-config
        - name: media-movies
          persistentVolumeClaim:
            claimName: nfs-media-movies
        - name: media-tv
          persistentVolumeClaim:
            claimName: nfs-media-tv
        - name: media-music
          persistentVolumeClaim:
            claimName: nfs-media-music
        - name: media-books
          persistentVolumeClaim:
            claimName: nfs-media-books
        - name: scratch
          persistentVolumeClaim:
            claimName: nfs-scratch
