---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: arr-bazarr-config
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  claimRef:
    namespace: arr-stack
    name: bazarr-config
  nfs:
    server: 10.10.10.13
    path: /mnt/fast/kubernetes/nfs-dynamic/pvc-f7ab6757-aead-4417-b69c-f2afc6a5ec6c
