---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: arr-bazarr-config
  annotations:
    pv.kubernetes.io/provisioned-by: org.democratic-csi.nfs-fast
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: truenas-nfs-fast
  claimRef:
    namespace: arr-stack
    name: bazarr-config
  csi:
    driver: org.democratic-csi.nfs-fast
    volumeHandle: pvc-f7ab6757-aead-4417-b69c-f2afc6a5ec6c
    fsType: nfs
    volumeAttributes:
      server: 10.10.10.13
      share: /mnt/fast/kubernetes/nfs-dynamic/pvc-f7ab6757-aead-4417-b69c-f2afc6a5ec6c
      node_attach_driver: nfs
      provisioner_driver: freenas-nfs
  mountOptions:
    - nfsvers=4
    - nconnect=8
    - hard
    - noatime
    - nodiratime
