---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: arr-buildarr-config
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  claimRef:
    namespace: arr-stack
    name: buildarr-config
  nfs:
    server: 10.10.10.13
    path: /mnt/fast/kubernetes/nfs-dynamic/pvc-2d59b96a-9238-4803-8761-d613fc7b3bbe
