---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: arr-glance-config
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  claimRef:
    namespace: arr-stack
    name: glance-config
  nfs:
    server: 10.10.10.13
    path: /mnt/fast/kubernetes/nfs-dynamic/pvc-2f1bfb5f-9a6f-437d-9ff6-342f30c741e4
