---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: gluetun-config
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  claimRef:
    namespace: arr-stack
    name: gluetun-config
  nfs:
    server: 10.10.10.13
    path: /mnt/fast/kubernetes/nfs-dynamic/pvc-8b8d1026-1229-41c3-80f2-5bffe3d1b214
