---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: arr-migration-source
spec:
  capacity:
    storage: 100Gi
  accessModes:
    - ReadOnlyMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  nfs:
    server: 10.10.10.13
    path: /mnt/bulk/arr-config
  mountOptions:
    - nfsvers=4.2
    - rsize=131072
    - wsize=131072
    - hard
