---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: arr-nfs-media-books
spec:
  capacity:
    storage: 1Ti
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  nfs:
    server: 10.10.10.13
    path: /mnt/bulk/media/books
  mountOptions:
    - nfsvers=4.2
    - rsize=131072
    - wsize=131072
    - hard
