---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: arr-qbittorrent-config
  annotations:
    pv.kubernetes.io/provisioned-by: org.democratic-csi.nfs-fast
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: truenas-nfs-fast
  claimRef:
    namespace: arr-stack
    name: qbittorrent-config
  csi:
    driver: org.democratic-csi.nfs-fast
    volumeHandle: pvc-a342a73f-ea33-493e-908b-6735cdd09eac
    fsType: nfs
    volumeAttributes:
      server: 10.10.10.13
      share: /mnt/fast/kubernetes/nfs-dynamic/pvc-a342a73f-ea33-493e-908b-6735cdd09eac
      node_attach_driver: nfs
      provisioner_driver: freenas-nfs
  mountOptions:
    - nfsvers=4
    - nconnect=8
    - hard
    - noatime
    - nodiratime
