---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: arr-qbittorrent-config
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  claimRef:
    namespace: arr-stack
    name: qbittorrent-config
  nfs:
    server: 10.10.10.13
    path: /mnt/fast/kubernetes/nfs-dynamic/pvc-a342a73f-ea33-493e-908b-6735cdd09eac
