---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: arr-recyclarr-config
  annotations:
    pv.kubernetes.io/provisioned-by: org.democratic-csi.nfs-fast
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: truenas-nfs-fast
  claimRef:
    namespace: arr-stack
    name: recyclarr-config
  csi:
    driver: org.democratic-csi.nfs-fast
    volumeHandle: pvc-e644590d-829f-4e01-97a4-8a161d9daac2
    fsType: nfs
    volumeAttributes:
      server: 10.10.10.13
      share: /mnt/fast/kubernetes/nfs-dynamic/pvc-e644590d-829f-4e01-97a4-8a161d9daac2
      node_attach_driver: nfs
      provisioner_driver: freenas-nfs
  mountOptions:
    - nfsvers=4
    - nconnect=8
    - hard
    - noatime
    - nodiratime
