---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: arr-radarr-config
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  claimRef:
    namespace: arr-stack
    name: radarr-config
  nfs:
    server: 10.10.10.13
    path: /mnt/fast/kubernetes/nfs-dynamic/pvc-b26f92d9-499e-4d88-96b6-20f6f604fe9f
