---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: arr-recyclarr-config
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  claimRef:
    namespace: arr-stack
    name: recyclarr-config
  nfs:
    server: 10.10.10.13
    path: /mnt/fast/kubernetes/nfs-dynamic/pvc-e644590d-829f-4e01-97a4-8a161d9daac2
