---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: arr-slskd-config
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  claimRef:
    namespace: arr-stack
    name: slskd-config
  nfs:
    server: 10.10.10.13
    path: /mnt/fast/kubernetes/nfs-dynamic/pvc-b4017abd-6ae3-4145-a281-085580cbd996
