---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: arr-sabnzbd-config
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  claimRef:
    namespace: arr-stack
    name: sabnzbd-config
  nfs:
    server: 10.10.10.13
    path: /mnt/fast/kubernetes/nfs-dynamic/pvc-8505ea35-2949-4af7-ba14-514c51a12355
