---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: arr-sonarr-config
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  claimRef:
    namespace: arr-stack
    name: sonarr-config
  nfs:
    server: 10.10.10.13
    path: /mnt/fast/kubernetes/nfs-dynamic/pvc-949bf037-3747-468d-977b-8b3f07c00381
