---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sonarr-config
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: ""
  volumeName: arr-sonarr-config
  resources:
    requests:
      storage: 5Gi
