---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: migration-source
spec:
  accessModes:
    - ReadOnlyMany
  storageClassName: ""
  resources:
    requests:
      storage: 100Gi
  volumeName: arr-migration-source
