---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nfs-media-movies
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ""
  resources:
    requests:
      storage: 1Ti
  volumeName: arr-nfs-media-movies
