---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: prowlarr-config
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: ""
  volumeName: arr-prowlarr-config
  resources:
    requests:
      storage: 2Gi
