---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: qbittorrent-config
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: ""
  volumeName: arr-qbittorrent-config
  resources:
    requests:
      storage: 2Gi
