---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openobserve
  namespace: openobserve
spec:
  interval: 10m
  releaseName: openobserve
  chart:
    spec:
      chart: openobserve-standalone
      version: "0.60.0"
      sourceRef:
        kind: HelmRepository
        name: openobserve
        namespace: flux-system
  valuesFrom:
    - kind: ConfigMap
      name: openobserve-values
      valuesKey: values.yaml
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  driftDetection:
    mode: enabled
