---
apiVersion: fluxcd.controlplane.io/v1
kind: ResourceSet
metadata:
  name: external-apps
  namespace: flux-system
spec:
  inputs:
    - id: cnpg-operator
      namespace: cnpg-system
      repoName: cnpg
      chart: cloudnative-pg
      version: "0.27.1"
    - id: vcluster-dev
      namespace: vcluster-dev
      repoName: loft
      chart: vcluster
      version: "0.32.0"
    - id: openobserve-collector-agent
      namespace: openobserve
      repoName: opentelemetry
      chart: opentelemetry-collector
      version: "0.143.0"
    - id: openobserve-collector-gateway
      namespace: openobserve
      repoName: opentelemetry
      chart: opentelemetry-collector
      version: "0.143.0"
  resources:
    - apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      metadata:
        name: << inputs.id >>
        namespace: << inputs.namespace >>
      spec:
        interval: 10m
        releaseName: << inputs.id >>
        chart:
          spec:
            chart: << inputs.chart >>
            version: << inputs.version >>
            sourceRef:
              kind: HelmRepository
              name: << inputs.repoName >>
              namespace: flux-system
        valuesFrom:
          - kind: ConfigMap
            name: << inputs.id >>-values
            valuesKey: values.yaml
        install:
          remediation:
            retries: 3
        upgrade:
          remediation:
            retries: 3
        driftDetection:
          mode: enabled
