---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openobserve-collector-agent
  namespace: openobserve
spec:
  interval: 10m
  releaseName: openobserve-collector-agent
  chart:
    spec:
      chart: opentelemetry-collector
      version: "0.143.0"
      sourceRef:
        kind: HelmRepository
        name: opentelemetry
        namespace: flux-system
  valuesFrom:
    - kind: ConfigMap
      name: openobserve-collector-agent-values
      valuesKey: values.yaml
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  driftDetection:
    mode: enabled
