---
global:
  storageClass: truenas-nfs-bulk

clickhouse:
  persistence:
    size: 20Gi

zookeeper:
  persistence:
    size: 5Gi

signoz:
  persistence:
    size: 1Gi

frontend:
  service:
    type: ClusterIP
